footer {
    height: 50px;
    background-color: #b3936a;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
  }
  
  footer span {
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
    color: cornsilk;
  }